*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-font: 'Barlow', sans-serif;
    --title-font:'Fraunces', serif;
    --red: #fe7867;
    --yellow: #fad400;
    --gray: #a7abae;
    --white: #ffffff;
    --graphic-text: #25564b;
    --photography-text: #19536b;
    --footer: #458c7e;
    --background: #FFFBFB;
}

body{
    font-family: var(--text-font);
    background-color: var(--background);
}


/* header */

header{
    height: 80vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-size: contain;
    background-position: bottom;
    color: var(--white);
    padding: 32px 16px;
    display: grid;
    place-items: start center;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo{
    font-size: 1.5rem;
    font-weight: 700;
}

header h1{
    font-family: var(--title-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
    text-align: center;
}

/*  */



/* seção 1 */

.info img{
    width: 100%;
}

.description{
    display: grid;
    padding: 80px 0px;
    place-items: center;
    height: 500px;
}

.description__title{
    font-family: var(--title-font);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    width: 300px;
}

.description__text{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray);
    text-align: center;
    line-height: 2rem;
    padding: 0px 12px;
}

.description__link{
    position: relative;
    font-family: var(--title-font);
    font-weight: 900;
    font-style: 1.2rem;
    text-transform: uppercase;
}

.line{
    position: absolute;
    height: 8px;
    width: 110%;
    left: -5%;
    bottom: 1%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 10%;
}

.line-yellow{
    background-color: var(--yellow);
}

.line-red{
    background-color: var(--red);
}

.container{
    height: 600px;
    background-size: cover;
}

.container.graphic{
    background-image: url(./images/mobile/image-graphic-design.jpg);
}

.container.photography{
    background-image: url(./images/mobile/image-photography.jpg);
}

.container.graphic *{
    color: var(--graphic-text);
}

.container.photography *{
    color: var(--photography-text);
}


.container .description{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

/*  */



/* seção 2 */

.testimonials{
    display: grid;
    place-items: center;
}

.testimonials-title{
    font-family: var(--title-font);
    font-size: 1.1rem;
    color: var(--gray);
    padding: 64px 0;
    letter-spacing: 0.2rem;
}

.client{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
    height: 400px;
    text-align: center;
}

.client__avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-position: center;
}


.client__avatar:nth-child(1){
    background-image: url(./images/image-emily.jpg);
}

.client__avatar.client2{
    background-image: url(./images/image-thomas.jpg);
}

.client__avatar.client3{
    background-image: url(./images/image-jennie.jpg);
}

.client__text{
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 0.7;
    line-height: 2rem;
    padding: 0px 16px;
}

.client__name{
    font-family: var(--title-font);
    font-weight: 900;
    font-size: 1.2rem;
}

.client__job{
    color: var(--gray);
    font-weight: 600;
    padding: 16px;
}

/*  */



/* seção 3 */

.images{
    display: grid;
    height: 50vh;
    
}

.images.secoes{
    height: 100%;
    grid-template-areas: 
        "leite laranja"
        "cone cubos";
    grid-template-rows: 1fr 1fr;    
    grid-template-columns: 1fr 1fr;
}

.leite{
    grid-area: leite;
    background-image: url(./images/mobile/image-gallery-milkbottles.jpg);
    background-size: cover;
}

.laranja{
    grid-area: laranja;
    background-image: url(./images/mobile/image-gallery-orange.jpg);
    background-size: cover;
}

.cone{
    grid-area: cone;
    background-image: url(./images/mobile/image-gallery-cone.jpg);
    background-size: cover;
}

.cubos{
    grid-area: cubos;
    background-image: url(./images/mobile/image-gallery-sugar-cubes.jpg);
    background-size: cover;
}

/*  */



/* footer */

